In [50]:
from datascience import *
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import pandas as pd
fpath = "A:\\Git\\School\\DataScience\\Project\\Suicid\\archive\\who_suicide_statistics.csv"

In [51]:
test = Table.read_table(fpath)
test

country | year | sex    | age         | suicides_no | population
Albania | 1985 | female | 15-24 years | nan         | 277900
Albania | 1985 | female | 25-34 years | nan         | 246800
Albania | 1985 | female | 35-54 years | nan         | 267500
Albania | 1985 | female | 5-14 years  | nan         | 298300
Albania | 1985 | female | 55-74 years | nan         | 138700
Albania | 1985 | female | 75+ years   | nan         | 34200
Albania | 1985 | male   | 15-24 years | nan         | 301400
Albania | 1985 | male   | 25-34 years | nan         | 264200
Albania | 1985 | male   | 35-54 years | nan         | 296700
Albania | 1985 | male   | 5-14 years  | nan         | 325800
... (43766 rows omitted)

In [52]:
# 1990년도부터
test=test.where('year', are.above_or_equal_to(1990))
test

country | year | sex    | age         | suicides_no | population
Albania | 1990 | female | 15-24 years | nan         | 305900
Albania | 1990 | female | 25-34 years | nan         | 278000
Albania | 1990 | female | 35-54 years | nan         | 308300
Albania | 1990 | female | 5-14 years  | nan         | 329600
Albania | 1990 | female | 55-74 years | nan         | 156400
Albania | 1990 | female | 75+ years   | nan         | 37600
Albania | 1990 | male   | 15-24 years | nan         | 325600
Albania | 1990 | male   | 25-34 years | nan         | 295100
Albania | 1990 | male   | 35-54 years | nan         | 337700
Albania | 1990 | male   | 5-14 years  | nan         | 355600
... (33170 rows omitted)

In [53]:
# nan 제거
test=test.where('suicides_no', are.above_or_equal_to(0))
test=test.where('population', are.above_or_equal_to(0))
test

country | year | sex    | age         | suicides_no | population
Albania | 1992 | female | 15-24 years | 7           | 292400
Albania | 1992 | female | 25-34 years | 4           | 267400
Albania | 1992 | female | 35-54 years | 2           | 323100
Albania | 1992 | female | 5-14 years  | 0           | 336700
Albania | 1992 | female | 55-74 years | 1           | 164900
Albania | 1992 | female | 75+ years   | 0           | 38700
Albania | 1992 | male   | 15-24 years | 9           | 263700
Albania | 1992 | male   | 25-34 years | 7           | 245500
Albania | 1992 | male   | 35-54 years | 12          | 343800
Albania | 1992 | male   | 5-14 years  | 0           | 362900
... (28010 rows omitted)

In [54]:
test

country | year | sex    | age         | suicides_no | population
Albania | 1992 | female | 15-24 years | 7           | 292400
Albania | 1992 | female | 25-34 years | 4           | 267400
Albania | 1992 | female | 35-54 years | 2           | 323100
Albania | 1992 | female | 5-14 years  | 0           | 336700
Albania | 1992 | female | 55-74 years | 1           | 164900
Albania | 1992 | female | 75+ years   | 0           | 38700
Albania | 1992 | male   | 15-24 years | 9           | 263700
Albania | 1992 | male   | 25-34 years | 7           | 245500
Albania | 1992 | male   | 35-54 years | 12          | 343800
Albania | 1992 | male   | 5-14 years  | 0           | 362900
... (28010 rows omitted)

In [55]:
# 전체 데이터에서 자살 비율 상위 5개 국가
suicide_sum=test.group(['country', 'year', 'age'], np.sum).select(4,5)
test_nosex=test.group(['country', 'year', 'age'], np.sum).drop('sex sum')

In [72]:
test_nosex=test_nosex.relabeled('population sum', 'population').relabeled('suicides_no sum', 'suicides no')
test_nosex['population']*=1000
test_nosex=test_nosex.with_column('percentage', test_nosex['suicides no']/test_nosex['population']*100).sort('percentage', descending=True)

In [80]:
test_nosex.relabeled('population', '총 인구(단위 : 천명)').relabeled('suicides no', '자살수').relabeled('percentage', '10만명 당 자살수')

country           | year | age       | 자살수  | 총 인구(단위 : 천명) | 10만명 당 자살수
Aruba             | 2000 | 75+ years | 3    | 2.488         | 120.579
Hungary           | 1990 | 75+ years | 668  | 569.794       | 117.235
San Marino        | 1997 | 75+ years | 2    | 1.714         | 116.686
Republic of Korea | 2009 | 75+ years | 1926 | 1770.1        | 108.808
Republic of Korea | 2010 | 75+ years | 2066 | 1906.87       | 108.345
Republic of Korea | 2004 | 75+ years | 1417 | 1308.77       | 108.27
Hungary           | 1991 | 75+ years | 596  | 551.274       | 108.113
Republic of Korea | 2005 | 75+ years | 1480 | 1385.24       | 106.84
Republic of Korea | 2011 | 75+ years | 2170 | 2049.17       | 105.896
Republic of Korea | 2007 | 75+ years | 1603 | 1550.28       | 103.401
... (14000 rows omitted)